/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@700&display=swap');

/* ------> Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}



/* ------> Containers General */
.container {
    display: flex;
    flex-direction: row;
}

/* ------> Header/Nav Section */
.header {
    position: fixed;
    width: 100%;
    background-color: maroon;
    align-items: center;
    justify-content: space-between;
    color: #fff;

}
/* 
.pagetitle {
    font-family: Aboreto;
} */

.header img {
    /* padding: 5px 5px;
    border-radius: 20px; */
}

.mainnav li {
    list-style-type: none;
    display: inline-block;
}

.mainnav ul {
    display: inline;
    list-style-type: none;
    display: inline-flex;
    order: 1;
    padding-right: 20px;
    justify-content: center;
}


.nav-link {
    cursor: pointer;
    text-decoration: none;
    color: white;
    padding: 3px;
}

.nav-link:link {
    color: #fff;
}

.nav-link:visited {}

.nav-link:hover {
    background-color: #d3d3d3;
    color: black;
    border-radius: 10px;
}

.nav-link:active {
    color: #d3d3d3;
    background-color: #000;
}

/* ------> Main Section */
.overlay {
    grid-row: 1;
    grid-column: 1;
}

/* Overlay Container */
.container-overlay {
    display: grid;
}

.overlay {
    z-index: -2;
}

.overlay img {
    width: 100%;
}

.overlay-title {
    z-index: 2;
    padding-top: 10%;
    margin-left: 29%;
    color: #fff;
    font-family: Silkscreen;
    
}


/* Main Body Container */
section {
    background-color: 	#f5f5f5;
    /* box-shadow: 10px 10px #DAD6D5; */
}

.mainbody {
    display: flex;
    /* flex-flow: column wrap; */
    margin: 30px 30px;
    background-color: 	#f5f5f5;
    /* box-shadow: 20px 20px #DAD6D5; */

}

.main {
    /* color: white; */
    font-size: 25px;
    padding: 20px;
    display: flex;
    /* margin: 10px; */
    flex-flow: column wrap;
}

.main-1 {
    /* width: 50%; */
}

.main-1 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 500px;
}

.main-2 {
    /* width: 50%; */
    flex-wrap: wrap;
}

/* App & Site Cards */
.app-sites-container {
    z-index: -1;
    margin: 30px 30px;
}

.card-heading {
    text-align: center;
    font-size: larger;
    font-family: cursive;
    text-shadow: 2px 2px #fff;
    text-decoration: underline;

}

.current-apps {
    display: flex;
    /* background-color: bisque; */
    width: 100%;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.current-sites {
    display: flex;
    /* background-color: bisque; */
    width: 100%;
    justify-content: space-around;
    padding: 20px 20px;
    flex-wrap: wrap;
}

.card {
    /* background-color: #fff; */
    /* background: linear-gradient(120deg, #ccff66, #bbff33,  #aaff00, #88cc00, #669900, #ddff99, #eeffcc, #fff); */
    background-color: #1D2C40;
    padding: 1em 1em;
    border: 1px solid #1D2C40;
    display: inline-block;
    max-width: 200px;
    box-shadow: 10px 15px #000;
    margin: 10px 10px;
    color: #fff;
    line-height: 1em;

}

.card li {
    list-style-type: none;
    text-align: center;

}

.card a {
    text-decoration: none;
    color: beige
}

.card li ul {}

.card-app-1 {}

.card-app-2 {}

.card-app-3 {}

.card-site-1 {}

.card-site-2 {}

.card-site-3 {}

/* ------> Footer Section*/
footer {
    width: 100%;
    background-color: #000;
    color: #fff;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 50px;
    align-items: center;
}

.footer-container li {
    list-style-type: none;
    display: inline-block;
}

.footer-container li ul {
    display: inline;
    list-style-type: none;
    display: inline-flex;
    order: 1;
    /* padding-right: 20px; */
    justify-content: center;
}

.footer-icons {
    display: inline-flex;
}

.icon-1 {
    margin: 0px 5px;
}

.icon-2 {
    margin: 0px 5px;
    padding-top: 2px;
}

.footer-icons a:link {
    cursor: pointer;
}

/* .footer-icons a:visited {

} */

.footer-icons a:hover {
    cursor: pointer;
}

/* .footer-icons a:active {
    
} */