html {
    height: 100%;
}

li ul{
    display: inline-block;
    
}

li {
    list-style-type: none;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 2px;
    height: 100%;
    }
    
    .div1 { grid-area: 1 / 1 / 9 / 6; }
    .div2 { grid-area: 1 / 1 / 2 / 6; background-color: white; }
    .div3 { grid-area: 1 / 1 / 2 / 3; background-color: yellow; align-content: center; align-self: center; align-items: center;}
    .div4 { grid-area: 1 / 4 / 2 / 6; background-color: purple; text-align: center; align-self: center;}
    .div5 { grid-area: 2 / 1 / 4 / 6; background-color: blueviolet; }
    .div6 { grid-area: 4 / 1 / 8 / 6; background-color: brown;}
    .div7 { grid-area: 8 / 1 / 9 / 6; background-color: cadetblue;}
    .div8 { grid-area: 8 / 1 / 9 / 3; background-color: aqua;}
    .div9 { grid-area: 8 / 4 / 9 / 6; background-color: blue;}